<a href="https://colab.research.google.com/github/Izaan330/python_assignment/blob/main/python_for_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Class** **1**

In [ ]:
print("hello world!")

hello world!

In [ ]:
#(everything followed by # is a single comment in python programming language)
# we can make variable but the starting character can only be alphabets or underscore

In [ ]:
_num=10
print(_num)
print(type(_num))

10
<class 'int'>

In [ ]:
#similarly for float data types
num1=3.4
num2=num1+_num
print(num2)
print(type(num2))

13.4
<class 'float'>

In [ ]:
# strings can be declared flexibly in single quotes or double quotes
#boolean

In [ ]:
#concatenation
num12=1233
print("value of the variable is",num12)
#but we can not use + for int string concatenation as it is used only for str to str

value of the variable is 1233

In [ ]:
x=input("enter the value of x")
y=input("enter the value of y")
print("here x and y are considered as string so only concatenation can occur that is",x+y)

In [ ]:
x=int(input("enter x"))
y=int(input("enter y"))
print(x+y)

enter x11
enter y11
22

**Class 2**

In [ ]:
#collective data types in python
'''
set
tuple
dictionary
list 
'''

In [ ]:
'''this is a multi line comment'''

In [ ]:
#list-> ordered, mutable, homogeneous and heterogeneous, []

list1=["izaan","jakir","shaikh",1,2, False ]
print(list1)
print(type(list1))

#index

print(list1[0])
print(list1[-2])

#mutable means changeable

list1[-1]=123
print(list1)

#adding or apending to the list

list1.append("zero")
print(list1)

#insert

list1.insert(3,"izzu")
print(list1)

#adding a list to another list
#method 1(using append)
'''
list2=[1,2,3,4]
list1.append(list2)
print(list1)
'''
#method 2(using extend)
list2=[1,2,3,4]
list1.extend(list2)
print(list1)

#deleting an element
list1.remove(123)
print(list1)

'''or'''

del list1[-2]
print(list1)

'''hence we can use del for deleting whole list1'''

#length of the list
print("the length of list is ",len(list1))

['izaan', 'jakir', 'shaikh', 1, 2, False]
<class 'list'>
izaan
2
['izaan', 'jakir', 'shaikh', 1, 2, 123]
['izaan', 'jakir', 'shaikh', 1, 2, 123, 'zero']
['izaan', 'jakir', 'shaikh', 'izzu', 1, 2, 123, 'zero']
['izaan', 'jakir', 'shaikh', 'izzu', 1, 2, 123, 'zero', 1, 2, 3, 4]
['izaan', 'jakir', 'shaikh', 'izzu', 1, 2, 'zero', 1, 2, 3, 4]
['izaan', 'jakir', 'shaikh', 'izzu', 1, 2, 'zero', 1, 2, 4]
the length of list is  10

In [ ]:
#tuple -> (),immutable
tuple1=("izaan",False,23.6,"shaikh")
tuple2=(1,2,3)
#tuple1.insert(3,"i")  <--- this doesnt work with tuple
print(tuple1)

('izaan', False, 23.6, 'shaikh')

In [ ]:
#dictionary -> {}, key and values
dic1={
    "username":"Izaan",
    "password":"87935513301",
    "date":22.2023
}

print(dic1)
print(dic1['password'])

#update
dic1["username"]=("iZAAN",123)
print(dic1)

#adding new elements
dic1["Course"]=("Python")
print(dic1)

#removing element
dic1.pop("username")
print("the updated dictionary is",dic1)

#updating a key 

new=dic1["Course"]
del dic1["Course"]
dic1["Learning"]=new
print(dic1)

del dic1
print(dic1)

{'username': 'Izaan', 'password': '87935513301', 'date': 22.2023}
87935513301
{'username': ('iZAAN', 123), 'password': '87935513301', 'date': 22.2023}
{'username': ('iZAAN', 123), 'password': '87935513301', 'date': 22.2023, 'Course': 'Python'}
the updated dictionary is {'password': '87935513301', 'date': 22.2023, 'Course': 'Python'}
{'password': '87935513301', 'date': 22.2023, 'Learning': 'Python'}

In [ ]:
#set -> unordered, unidexed collection of data types, {}
set1={"data",123,False,123,23.98,"a","b"}
print(set1)

#add elements
set1.add("izaan")
print(set1)

#union of 2 sets
set2={1,2,3,4,5}
set3=set1.union(set2)
print(set3)

'''or'''

set4=set1|set2
print(set4)

#practice

set5={98,87,76}
set6=set5|set2|set1

print(set6)

{False, 'a', 23.98, 123, 'data', 'b'}
{False, 'a', 'izaan', 23.98, 123, 'data', 'b'}
{False, 1, 2, 3, 4, 5, 'data', 'b', 'a', 'izaan', 23.98, 123}
{False, 1, 2, 3, 4, 5, 'data', 'b', 'a', 'izaan', 23.98, 123}
{False, 1, 98, 2, 3, 4, 5, 'data', 76, 'b', 'a', 'izaan', 23.98, 87, 123}

In [ ]:
mydic1={"the":1,"the":2}
print(mydic1)

print("but")

mydic2={"the":1,"he":1}
print(mydic2)

{'the': 2}
but
{'the': 1, 'he': 1}

In [ ]:
#intersection in sets
set1={1,2,3,4,5,6}
set2={7,6,5,4,3,3,}
# set3=set1&set2
# OR
#set3=set1.intersection(set2)

print(set3)

set3=set1.difference(set2)
print(set3)

set3.clear()
print(set3)

set()
{1, 2}
set()

In [ ]:
#sets
'''
unordered,{}, no key:values as in dictionary, ??mutable??
'''
#?mutable?
set1={1,2,3,4,5}
set1.remove(5)
set1.add("jakir")
'''
set1.insert(3,"izaan")

the above one doesnt work
'''
print(set1)

{1, 2, 3, 4, 'jakir'}

In [ ]:
#dictionary
'''
ordered,key-value system,{},format- key:value,mutable

some commands:-
pop
'''

#tuples
'''
(),immutable

some commands:-
'''

#list
'''
ordered,negative indexing is also valid,[],mutable

some commands:-
insert
extend 
remove
append
len
del

**Class 4**

In [ ]:
print("izaan\njakir\nshaikh")

izaan
jakir
shaikh

In [ ]:
#functions
''' example of a function '''
def a():
  print("the first function")
'''
for x in range(0,3):
  a()
'''
#or
'''
for c in range(3):
  a()
'''


def add():
  num1=int(input("enter num1"))
  num2=int(input("enter num2"))
  print("addition results->",num1+num2)

# add()

the first function
the first function
the first function

In [ ]:
# for loop

a=8

for x in range(0,a):
  print(x)

0
1
2
3
4
5
6
7

In [ ]:
list1=["izaan","jakir","shaikh",1,2, False ]
'''
for z in range(0,6):
  print(list1[z])
'''
#OR
'''
for z in list1:
  print(z)
'''

izaan
jakir
shaikh
1
2
False

In [ ]:
def x():
  for z in range(0,-5,-1):
    print(z,"hey")

x()

0 hey
-1 hey
-2 hey
-3 hey
-4 hey

In [ ]:
#if else
if(2>6):
  print("former number is greater")
elif(2<6):
    print("latter is greater")
else:
      print("both are equal")

In [ ]:
def quiz():
  x=input("enter the option")
  if(x=='a'):
    print("you have won")
  elif x=='c'or'b':
    print("its a draw")
  else:
    print("you have lost")

quiz()

enter the optionb
its a draw

**Class 5**

In [ ]:
#Files- read mode, write mode and append mode
file=open("a.txt","r")
print(file.read())

izaan jakir shaikh

In [ ]:
file.close()

In [ ]:
# file=open("a.txt","w")
# file.write("this is written by me")

# file=open("a.txt","r")
# print(file.read())

# # file.close()

# file=open("a.txt","a")
# file.write("\n I am a programmer")

# #the immediate output is string length

# # file=open("a.txt","r")
# # print(file.read())

this is written by me

19

In [ ]:
with open("a.txt","r") as file1:
  print(file1.read())

this is written by me

In [ ]:
list1=["Izaan \n","Jakir \n","Shaikh \n"]
with open("a.txt","a") as file1:
  file1.writelines(list1)

with open("a.txt","r") as file1:
  print(file1.read())

this is written by meIzaan
Jakir
Shaikh

In [ ]:
#simple calculator

print("1.add \n 2.subtract \n 3.multiply \n 4.divide")
x=float(input("enter first number"))
y=float(input("enter second number"))
z=int(input("enter 1 to add \nenter 2 to subtract \nenter 3 to multiply \nenter 4 to divide"))

if(z==1):
  print(x+y)
elif(z==2):
  print(x-y)
elif(z==3):
  print(x*y)
else:
  print(x/y)

1.add
 2.subtract
 3.multiply
 4.divide
enter first number26.23
enter second number64.69
enter 1 to add
enter 2 to subtract
enter 3 to multiply
enter 4 to divide4
0.40547225228010514

**class 6**

In [ ]:
#keyword arguments
def _arg_(name,city,branch):
  print("hello my name is",name,"I am from",city,"from branch",branch)

_arg_(city="Rahuri",branch=2023,name="Izaan")                                   #this was an example of keyword arguments

_arg_("Rahuri",2023,"Izaan")                                                    #this was an example of positional arguments

def _arg1(name="Izaan",city="Ahmednagar",branch=2023):                          #this was an examole of default arguments
  print("hello my name is",name,"I am from",city,"from branch",branch)
_arg1()
_arg1("Izmian")                                                                 #positional arguments must be given before keyword argument when writing altogether

hello my name is Izaan I am from Rahuri from branch 2023
hello my name is Rahuri I am from 2023 from branch Izaan
hello my name is Izaan I am from Ahmednagar from branch 2023
hello my name is Izmian I am from Ahmednagar from branch 2023

In [ ]:
#slicing 
s="Pythonecourse"
print(s[0:6])
print(s[:6])

print(s[-6:])

print(s[::2])

#replace
''' 
  doesnt work
  print(s.replace("e",6,"z"))
'''
print(s.replace("P","I"))

Python
Python
course
Ptoeore
Iythonecourse

**Class 7**

In [ ]:
#when we don't know the exact number of arguments we use * before the variable name 

def details(Teacher,*iz):
  print("name of the class teacher is", Teacher)
  for roll_no in iz:
    print("The roll number is",roll_no)

details("sonali",1,2,3,4,5,33)

name of the class teacher is sonali
The roll number is 1
The roll number is 2
The roll number is 3
The roll number is 4
The roll number is 5
The roll number is 33

In [ ]:
def details(Teacher,*args):
  print("name of the class teacher is", Teacher)
  iz=sorted(args)
  for roll_no in iz:
    print("The roll number is",roll_no)

details("sonali",155,2,3,94,5,33)

name of the class teacher is sonali
The roll number is 2
The roll number is 3
The roll number is 5
The roll number is 33
The roll number is 94
The roll number is 155

In [ ]:
def details(Teacher,*args,**kwargs):
  print("name of the class teacher is", Teacher)
  iz=sorted(args)
  for roll_no in iz:
    print("The roll number is",roll_no)
  for z in kwargs:
    print(z,kwargs[z])

details("sonali",155,2,3,94,5,33,name="izaan",city="Mumbai",interest="machine learning")

name of the class teacher is sonali
The roll number is 2
The roll number is 3
The roll number is 5
The roll number is 33
The roll number is 94
The roll number is 155
name izaan
city Mumbai
interest machine learning

In [ ]:
args=[1,4,6,3,5]
container=iter(args)
print(next(container))

1

In [ ]:

print(next(container))

3

In [ ]:
substri="Izzue"
print(substri.index("z",2))

2

In [ ]:
list2=[3,4,5,7,89,23,11,7]
print(list2.index(7,4))

7

In [ ]:
myset={2,4,7,90,76,31,24}
print(max(myset))
print(min(myset))

myset.remove(90)
print(myset)

90
2
{2, 4, 7, 24, 76, 31}

In [ ]:
def evenodd(list3):
  even_list=[]
  odd_list=[]

  for i in list3:
    if(i%2==0):
      even_list.append(i)
    else:
      odd_list.append(i)
  
  print(even_list,"this was even list")
  print(odd_list,"this was odd list")

list3=list()
print("enter the number of numbers")
n=int(input(""))
for x in range (n):
  print("Enter any random number")
  z=int(input(""))
  list3.append(z)

print(list3)
evenodd(list3)

del list3

enter the number of numbers
4
Enter any random number
1
Enter any random number
2
Enter any random number
3
Enter any random number
4
[1, 2, 3, 4]
[2, 4] this was even list
[1, 3] this was odd list

In [ ]:
#exception handling
try:
  print(c)
except:
  print("the error has occured")

the error has occured

In [ ]:
list7=[1,2,3,4,5,6]
try:
  print(list7[10])
  print(list7[1])

except:
  print("array out of bound")       #once try clause finds an exception we jump to except clause directly without considering whats next in the try clause

array out of bound

In [ ]:
import sys
try:
  x=open("dile.txt","r")
  print(x.read())

except:
  print("file doesn't exist")

finally:
  print("finally clause executes for sure")

i am on top of the world yeah!
finally clause executes for sure

In [ ]:
try:
  raise TypeError(123)

except:
  print(" ERROR HAS OCCURED")                  #this line is required if we want to raise error of our choice which we have declared in try clause

 ERROR HAS OCCURED

In [ ]:
x=9
y=0
try:
  z=x/y
except ZeroDivisionError:
  print("Zero div err")

Zero div err

In [ ]:
#Comprehension
#list
#set
#dictionary
#generator

In [ ]:
list1=[1,2,4,6,8,9,34,55]

evenlist=[]

for i in list1:
  if(i%2==0):
    evenlist.append(i)

print(evenlist)

[2, 4, 6, 8, 34]

In [ ]:
#comprehension list
evennumber=[value for value in list1 if value%2==0]
print(evennumber)

[2, 4, 6, 8, 34]

In [ ]:
#Dictionary
dict1={}

for z in list1:
  dict1[z]=z**2

print(dict1)

{1: 1, 2: 4, 4: 16, 6: 36, 8: 64, 9: 81, 34: 1156, 55: 3025}

In [ ]:
x={var:var**2 for var in list1}

print(x)

{1: 1, 2: 4, 4: 16, 6: 36, 8: 64, 9: 81, 34: 1156, 55: 3025}

**Class 9**

In [ ]:
meIzaan=[1,2,4,8,90,43,22]
numset=set()

for x in meIzaan:
  if(x%2==1):
    numset.add(x)

print(numset)

{1, 43}

In [ ]:
#set comprehension

numbb={value for value in meIzaan if value%2==1}
print(numbb)

{1, 43}

In [ ]:
#generator comprehension

def randomname(x):
  print("the values can be")
  yield 10*x
  yield x**2

# for i in randomname(3.22):        '''has an alternative'''
#   print(i) 

z=randomname(3)

In [ ]:
print(next(z))

9

In [ ]:
#yield will be helping us to generate data
#return  wil simply return back data as result

def a(b):
  return b

a(123)

123

In [ ]:
#lambda
print((lambda a,b,c:a+b)(1,2,4))

3

In [ ]:
x2=[lambda x=x:x*10 for x in range(1,11)]

for x3 in x2:
  print(x3())

10
20
30
40
50
60
70
80
90
100

In [ ]:
y=lambda a,b: a if(a>b) else b

print(y(2,4))

4

In [ ]:
table=[lambda y=y:y+10 for y in range(2,12)]

for tables in table:
  print(tables())

12
13
14
15
16
17
18
19
20
21

In [ ]:
m=lambda a,b: a if (a>b) else b
a,b=[int(n) for n in input("Enter 2 numbers:").split(",")]
print("bigger number is",m(a,b))

Enter 2 numbers:123,321
bigger number is 321

In [ ]:
#lambda function -> anonymous function
'''m1'''
x=lambda q:q+29
print("method 1:",x(18))

'''m2'''
print((lambda x,u,z:x+u+z)(2,6,4))

In [ ]:
#string formatting
#operators

print("Hello %s\nWelcome all" %"Sharks")

print("Hello %s Welcome %s"%("Izaan","Dude"))

Hello Sharks
Welcome all
Hello Izaan Welcome Dude

In [ ]:
#format
print("hello {2}, Welcome {0}" .format("class","is","all"))

hello all, Welcome class

**Class 10**

In [ ]:
print("i am the {2} who knows atleast this, and by this i mean {1}" .format("money","beast","beast1"))

print("\n Hello:{name}" .format(name="Izaan"))

i am the beast1 who knows atleast this, and by this i mean beast

 Hello:Izaan

In [ ]:
#fstring
num1=1 
num2=45
print(f"hello dear friends, the calculation is {num1*num2}")

hello dear friends, the calculation is 45

In [ ]:
#module
import math

print(math.cos((math.pi))

6.123233995736766e-17

In [ ]:
import datetime
data=datetime.datetime.now()

print(data)

2023-06-12 06:03:06.071655

In [ ]:
b=datetime.datetime.now().strftime("%B")
print(b)

June

In [ ]:
from datetime import datetime as date
b=date.now()
a=b.strftime("%B")
print(a)

June

In [49]:
import self_made_module
self_made_module.a("good evening","Izaan")

hello Izaan good evening

In [55]:
#regular expression is a sequence of character that form search pattern
import re

a="hi there your name is?"

b=re.search("your", a)

print("starting index number",b.start())
print("ending index number",b.end())
print(b.group())
print(b.span())
print(a[9:13])

starting index number 9
ending index number 13
your
(9, 13)
your

In [56]:
a="hello , your welcome"
c=re.sub("\s","lovely",a)

print(c)

hellolovely,lovelyyourlovelywelcome

In [57]:
a="hello , your welcome"

c=re.split("\s",a)
print(c)

['hello', ',', 'your', 'welcome']

In [59]:
data="Welcome all 123456"
match=re.findall('\d',data)
print(match)

iz=re.findall("\d+",data)
print(iz)

['1', '2', '3', '4', '5', '6']
['123456']

In [63]:
i="hi and there and here and"
z=i.split("and",2)      #try changing the numbers from 2 to 1 or 3 and see the "and" spliting magic 
print(z)

['hi ', ' there ', ' here and']

**Class 11**

In [71]:
#OOPS
class mylappy():
  #attributes: variable defined in a class but shared by all objects of the class
  processor="Intel I8"
  display="Full SD"
  #instance attribute: variable that belongs to only one object
  def __init__(self,color):
    self.color=color
  def a(self):
    print("hello and dont welcome all")

 #inheritance 
class myself(mylappy):
    def __init__(self,color,camera):
      self.camera=camera
      mylappy.__init__(self,color)

object1=myself("blue","Pixima")
print(object1.color)
print(object1.camera)

obj1=mylappy("Cyan")
print(obj1.processor)

mylappy.processor="Ultimatum"

obj2=mylappy("VIO")
print(obj2.processor)

print(obj1.color)

obj1.a()

blue
Pixima
Intel I8
Ultimatum
Cyan
hello and dont welcome all

In [73]:
#encapsulation
class izaan():
  def __init__(i,firstname,lastname,password):
    i.firstname=firstname
    i.lastname=lastname
    i.__password=password

  def tellPassword(i):
    print(i.__password)

person1=izaan("Izaan","Shaikh","123")

person1.tellPassword()

In [76]:
#polymorphism
class birds():
  def intro(self):
    print("some birds cant fly while others can")
  def fly(self):
    print("i dont know")

class sparrow(birds):
  def fly(self):
    print("sparrows can fly")

class ostrich(birds):
  def fly(self):
    print("ostrich cant fly")

o1=sparrow()
o2=ostrich()

o1.fly()
o2.fly()

sparrows can fly
ostrich cant fly

In [79]:
#python decorators: allows user to modify or add new functionality to an existing object without modifying the structure

def inc(num1):
  return num1+1

def dec(num1):
  return num1-1

def incdec(func,num1):
  return func(num1)

incdec(dec,10)

9

In [80]:
def simple():
  print("hello there")

def special(func):
  def a():
    print("hi wait...")
    func()
  return a()

special(simple)

hi wait...
hello there